@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;800&display=swap");

body {
  background: #f2f7fa;
}

h2 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

p {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 0.9rem;
}

.bkg_img {
  position: absolute;
  height: 100vh;
  top: 0px;
}

.card {
  width: 400px;
  height: 500px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(247, 253, 253);
  border-style: solid;
  border-width: 0px;
  border-color: #cfcfcf;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 40, 40, 0.15);
  transition: ease-in-out;
  transition-duration: 200ms;
}
.card:hover {
  box-shadow: 1px 1px 10px rgba(0, 40, 40, 0.3);
  transform: translateY(-0.2rem);
}

.picture {
  width: 100%;
  height: 300px;

  object-fit: cover;
  object-position: 50% 50%;
  margin-left: auto;
  margin-right: auto;
  transition: ease-in-out;
  transition-duration: 200ms;
}
.picture:hover {
  box-shadow: 1px 1px 10px rgba(0, 40, 40, 0.39);
  transform: scale(1.01);
}

.info {
  padding-left: 1rem;
  padding-right: 1rem;
}

p {
  text-align: left;
}
@media (max-width: 600px) {
  .card {
    width: 300px;
    height: 400px;
  }
  .picture {
    height: 230px;
  }
}
